
#div1 {
  text-align: center;
  background-color: red;
  color: white;
}

#div2 {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5%;
  border-style: dotted;
}

#div3 {
  margin-top: 15px;
  margin-left: 65%;
  padding: 5%;
  border-style: solid;
  width: 10%;
  height: 100px;
  border-color: magenta;
}

#div4 {
  border: 20px double pink;
  margin-right: 300px;
  padding: 100px;
}
