
#div1 {
  height: 100px;
  width: 100px;
  background-color: red;
  color: white;
}

#div2 {
  height: 100px;
  width: 100px;
  margin: auto;
  background-color: blue;
  color: white;
}

#div3 {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin-left: auto;
  background-color: green;
  color: white;
}

#div4 {
  border: 1px solid black;
  margin: 20px;
  height: 100px;
  width: 100px;
  margin-left: auto;
  background-color: pink;
  color: black;
}
