.col {
      display: inline-block;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
    margin-top: 15px;
}

.col-middle ul li {
    display: inline;
    text-decoration: none;
}
nav {
    background: white;
    box-shadow: 0px 0px 5px 0px #888;
    padding: 10px;
    position: sticky;
}

.search-section {
  background-image: url("../media/hotel-noche-2.jpg");
  padding: 274px;
  background-size: cover;
  max-height: 320px;
}
.footer:hover {
  color: pink;
}

h2 {
  color: white;
  text-shadow: 3px 1px 2px black;
}

h1 {
    color: white;
    text-shadow: 3px 1px 2px black;
    font-size: 69px;
}

.search-body {
  display: inline-block;
  color: black;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 0px 7px #00000054;
}

.img-banner {
  background-image: url("../media/banner.jpg");
  padding: 70px;
}

.btn-search {
    width: 726px !important;

}

.footer{
  background: #212121;
  position: absolute;
   bottom: 0;
   height: 20px;
   margin: 0 auto;
   width: 100%;
   color: white;

}

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background-size: cover;
}

body#login{
background-image: url("../media/concert.jpg");
}

body#registrar{
background-image: url("../media/bg-login.jpg");
}

.form {
background: #ffffff82;
margin: 10%;
display: inline-block;
border-radius: 5px;
padding: 2% 6%;
box-shadow: 1px 0px 7px #00000054;
}

label {
display: block;
text-align: left;
}

a {
color: #44423e;
text-transform: uppercase;
font-size: larger;
font-weight: bold;
text-decoration: none;
padding: 8px;
}

li a {
margin: 17px;
}

a:hover {
transition: 0.7s;
box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
color: black;
border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
padding: 0.6em;
border-radius: 5px;
background: #fdf6ee40;
border: 1px solid #ced4da;
width: 19em;
}

input[type="submit"] {
border: 1px;
padding: 0.6em 1em;
background: #ca2229;
color: white;
border-radius: 5px;
font-size: 14px;
font-weight: bolder;
}

button {
border: 1px;
padding: 1em;
background: #348ecc;
color: white;
border-radius: 5px;
}

input[type="submit"]:hover {
cursor: pointer;
transition: 0.5s;
background: #183e5d;
}

button:hover {
cursor: pointer;
transition: 0.5s;
background: #183e5d;
}

.form-control {
margin:1em;
}

.container {
  background: #f0f0f0;
  position: relative;
  display: grid;
}

.event-list {
  background: white;
  margin: 100px;
}

.event-list h2 {
  text-shadow: 0px 0px 0px !important;
  color: black;
}

.card-event .col-left {
  padding: 37px;
}