


body {
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      margin: 0;
      background-size: cover;
}

body#login{
  background-image: url("../media/concert.jpg");
}

body#registrar{
  background-image: url("../media/bg-login.jpg");
}

.form {
    background: #ffffff82;
    margin: 10%;
    display: inline-block;
    border-radius: 5px;
    padding: 2% 6%;
    box-shadow: 1px 0px 7px #00000054;
}

label {
    display: block;
    text-align: left;
}

a {
  color: #44423e;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
}

li a {
    margin: 17px;
}

a:hover {
    transition: 0.7s;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
    color: black;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 0.6em;
    border-radius: 5px;
    background: #fdf6ee40;
    border: 1px solid #ced4da;
    width: 19em;
}

input[type="submit"] {
  border: 1px;
  padding: 0.6em 1em;
  background: #ca2229;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bolder;
}

button {
    border: 1px;
    padding: 1em;
    background: #348ecc;
    color: white;
    border-radius: 5px;
}

input[type="submit"]:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #183e5d;
}

button:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #183e5d;
}

.form-control {
  margin:1em;
}
