html {
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10 px de 16px. 1rem = 10px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.6rem;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.d-block {
    display: block !important;
}

.imagen-centrada {
    display: block;
    margin: 0 auto;
}

.fw-300 {
    font-weight: 300;
}

.centrar {
    text-align: center;
}

.contenido-centrado {
    max-width: 80rem;
}

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0.3em;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71B100;
}

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {

    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 700;
    display: block;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 3rem;
        font-size: 1.8rem;
    }

    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegacion a:hover {
    color: #71B100;
}

.mobile-menu img {
    width: 5rem;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.navegacion:target {
    display: block;
}

.navegacion {
    display: none;
}

@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}

@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono {
    text-align: center;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
        text-align: center;
    }
}

.icono h3 {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio {
    border-style: solid;
    border-color: #B5B5B5;
    border-width: .1rem;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.contenido-anuncio {
    padding: 2rem 4rem;
}

.contenido-anuncio h3, .contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    max-width: 50rem;
}

.iconos-caracteristicas li{
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto {
    display: flex;
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    align-items: center;
}

.contenido-contacto {
    flex:  0 0 95%;
    color: white;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }

    .seccion-inferior .blog {
        flex-basis: 60%;
    }

    .seccion-inferior .testimonios {
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog {
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }

    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: #E08709;
}

.testimonio {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
    font-weight: 300;
}

.testimonio p {
    text-align: right;
}

.testimonio blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: -2rem;
}

.testimonio blockquote {
    position: relative;
    padding-left: 5rem;
}

.site-footer {
    background-color:  #333333;
    margin: 0;
}

.contenedor-footer {
    text-align: center;
    padding: 3rem 0;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.copyright {
    margin: 0;
    color: white;
}

@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 3rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0 0 1rem 0;
}

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto p {
    font-size: 1.8rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

.contacto p:first-of-type {
    font-size: 1.8rem;
    color: #4f4f4f;
    margin: 0 0 0 0;
}

legend {
    font-size: 2.4rem;
    color: #333333;
}

fieldset {
    border-radius: 0.5rem;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]), textarea, select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
